<div class="header">
    <h1>Html To PDF Conversion - Angular 6</h1>
</div>
<div id="barTools" #content>
    <p>Document</p>
    <select [name]="'sizePrint'" [(ngModel)]="sizePrint" (change)="buildArrayPages()">
        <option *ngFor="let size of sizes" [value]="size.size">{{ size.name }}</option>
    </select>
    <select [name]="'orientation'" [(ngModel)]="orientation_s" (change)="buildArrayPages()">
        <option *ngFor="let orientation of orientations" [value]="orientation.orientation">{{ orientation.name }}</option>
    </select>
    <p>Tickets</p>
    <ng-container  *ngFor="let ticketNow of tickets_almacenados; let i = index">
        <input type="text" placeholder="Valor Codebar {{i}}" [name]="'codevar'+i" [(ngModel)]="ticketNow.value_codebar"><br>
        <input type="text" placeholder="Width {{i}}" [name]="'width'+i" [(ngModel)]="ticketNow.width"><br>
        <input type="text" placeholder="Height {{i}}" [name]="'height'+i" [(ngModel)]="ticketNow.height"><br>
        <hr>
    </ng-container>
    <input type="button" value="CAPTURE" (click)="captureScreen()"/>
</div>
<div class="previewPDF">
    <!--<div id="contentToConvert" [ngStyle]="getSizePage()">
        <div class="containerPage">
            <ng-container *ngFor="let ticketNow of tickets_almacenados">
                <app-ticket [objTicket]="ticketNow" (loadForm)="loadForm($event)"></app-ticket>
            </ng-container>
        </div>
    </div>-->
    <div class="contentToConvert" [ngStyle]="getSizePage()" *ngFor="let page of pages">
        <div class="containerPage">
            <ng-container *ngFor="let ticketNow of page">
                <app-ticket [objTicket]="ticketNow" (loadForm)="loadForm($event)"></app-ticket>
            </ng-container>
        </div>
    </div>
</div>
