<div class="header">
    <h1>Html To PDF Conversion - Angular 6</h1>
</div>
<div id="barTools" #content>
    <p>Document</p>
    <select [name]="'sizePrint'" [(ngModel)]="sizePrint">
        <option *ngFor="let size of sizes" [value]="size.size">{{ size.name }}</option>
    </select>
    <select [name]="'orientation'" [(ngModel)]="orientation_s">
        <option *ngFor="let orientation of orientations" [value]="orientation.orientation">{{ orientation.name }}</option>
    </select>
    <p>Codebars</p>
    <ng-container  *ngFor="let ticketNow of tickets_almacenados; let i = index">
        <input type="text" placeholder="Valor Codebar {{i}}" [name]="'codevar'+i" [(ngModel)]="ticketNow.value_codebar"><br>
    </ng-container>
    <input type="button" value="CAPTURE" (click)="captureScreen()"/>
</div>
<div class="previewPDF">
    <div id="contentToConvert" [class]="sizePrint+' '+orientation_s">
        <div class="containerPage">
            <ng-container *ngFor="let ticketNow of tickets_almacenados">
                <app-ticket [objTicket]="ticketNow" (loadForm)="loadForm($event)"></app-ticket>
            </ng-container>
        </div>

    </div>
</div>
