<!--<p>Tipo: {{ objTicket.type_ticket }}</p>-->
<table border="1px" (click)="clickTrigger()" [ngStyle]="{width: objTicket.width+'mm', height: objTicket.height+'mm'}">
  <tr *ngFor="let rowNow of rows">
    <td *ngFor="let columnNow of colums">
      P: [{{ rowNow }} - {{ columnNow }}]
    </td>
    <td class="etiquetaChachiway">
      <ngx-barcode [bc-value]="objTicket.value_codebar" [bc-width]="0.3" class= "CodeBar" [bc-height]="20" [bc-display-value]="false"></ngx-barcode>
    </td>
  </tr>
</table>
